* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #f7f7f7;
}
#nav{
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding-left: 8vw;
    padding-right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Mogra', cursive;
}
#nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#nav-part2 #links a{
    border-radius: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 19px;
    margin: 0 10px;
}

#nav-part2 #links a:hover , 
#nav-part2 #links a.active {
    height: 90px;
    width: 100px;
    /* background: blueviolet; */
    color: #13cf42;

}

.coli1{
    letter-spacing: 1px;
    color: crimson;
}

#icons{
    padding: 10px;
    border-radius: 50px;
    /* background-color: #f7f7f7; */
    background-color: #000000;
    color: #f7f7f7;
    /* display: flex; */
    
}

#st svg{
    height: 50px;
    width: 50px;
    padding-top: 10px;
    background-color: #f7f7f7;
}
#me svg{
    height: 50px;
    width: 50px;
    z-index: 10001;
    display: none;
}


img {
    border-radius: 8px;
    width: 5%;
  }



/* padding: 0 5vw; */
#page1{
    min-height: 100vh;
    background-color: azure;
    position: relative;
    width: 100%;
    padding-top: 12vh;
    /* display: flex; */
}

#page1 p{
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
}
#larn{
    display: flex;
}

#page1 #ba1 {
    font-size: 2vw;
    height: 620px;
    width: 55%;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-family: 'Mogra', cursive;
}

#had {
    letter-spacing: 1px;
    font-family: 'Gabarito', cursive;
    padding-top: 40px;
    font-size: 30px;
    color: rgb(224, 117, 199);
}

#page1 #ba2 {
    padding-left: 10px; 
}

/* ------------------>>>>>>>|||||| main cart //////---------------------------->>>>>>------>>>>>>>>>>> */
#cart {
    height: 620px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card1 {
    height: 490px;
    width: 360px;
    padding-bottom: 30px;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgb(0, 0,0, 0.15);
    transition: 0.5s;
    background-color: skyblue;
}

.card1 h3 {
    font-family: 'Gabarito', cursive;
    justify-content: space-around;
}

.ao {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 17px;
    color: blue;
    padding-left: 20px;
    padding-bottom: 15px;
}

.km {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-bottom: 5px;
}

#ws {
    font-size: 20px;
    font-family: 'Gabarito', cursive;
}

#footer {
    height: 430px;
    width: 100%;
    padding-top: 60px;
    padding-left: 150px;
    padding-right: 150px;
}

.linkss{
    height: 100px;
    width: 300px;
}

.imfo {
    box-shadow: 0 35px 80px rgb(0, 0.15,0, 0.20);
    height: 70px;
    width: 70px;
}

.socials{
    display: flex;
    gap: 20px;
    align-items: center;
}

.container{
    display: flex;
}

.zs2{
    font-family: 'Gabarito', cursive;
    height: 300px;
    width: 300px;
    padding-left: 60px;
    justify-content: space-around;
    font-size: 12px;
    text-transform: uppercase;
}
.zs2 h2 {
    padding-top: 20px;
}

.coli {
    letter-spacing: 1.5px;
    color: crimson;
}

.yyy{
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #000000;
}

.ccc{
    font-family: 'Gabarito', cursive;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.ttt{
    color: crimson;
    padding-bottom: 20px;
}

.last{
    font-family: 'Gabarito', cursive;
}
.ik{
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 35%;
    color: #000000;
}


.ffs {
    letter-spacing: 1.5px;
    justify-content: space-around;
    padding-top: 30px;
    padding-left: 80px;
    text-transform: uppercase;
    text-decoration: none;
    color: crimson;
    font-weight: 400;
    font-size: 18px;
    margin: 0 10px;
}




.search-box{
    flex: 1;
    position: relative;
    padding-right: 25px;
}

.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 30px;
    color: crimson;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;  
    font-family: 'Mogra', cursive;
}


 
.search-box button{
    cursor: pointer;
    width:60px;
    height: 40px;
    border-radius: 20px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: rgb(69, 211, 239);
    color: #fff;
}

/* .sershu{
    height: 700px;
    width: 100%;
    background-color: blue;
    padding: 40px;
}

.vvg{
   
    font-family: 'Gabarito', cursive;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;

}

.boxes{
    display: flex;
    justify-content: space-around;
}

.service-icon{
    width: 100px;
    height: 70px;
    padding-left: 130px;
}

.sername{
    padding-top: 15px;
    padding-left: 130px;
}
.sername1{
    padding-top: 15px;
    padding-left: 110px;
}

.service-box1{
    height: 300px;
    width: 400px;
    background-color: aqua;
}

.service-box2{
    height: 300px;
    width: 400px;
    background-color: aqua;
}

.service-box3{
    height: 300px;
    width: 400px;
    background-color: aqua;
}

.service-box4{
    height: 300px;
    width: 400px;
    background-color: aqua;
}

.service-box5{
    height: 300px;
    width: 400px;
    background-color: aqua;
}

.service-box6{
    height: 300px;
    width: 400px;
    background-color: aqua;
} */

/* ===========================================
our services Section Start
======================================= */
.section-services {
    transition: all 0.7s linear;
    /* background-color: #13cf42; */
    font-family: 'Gabarito', cursive;
  }
  
.dos1 {
    display: table-column-group;
}
  
.ssrt {
    max-width: 60rem;
    color: #655ae0;
  }
  
  .section-services .grid {
    /* margin-top: 10rem; */
    row-gap: 10rem;
  }
  
  .service-box {
    text-align: center;
    box-shadow: var(--shadow);
    /* box-shadow: 0 35px 80px rgb(0, 0.10,0, 0.15); */
    border-radius: 6px;
    /* background-color: aqua; */
    padding: 4.4rem 3.4rem;
    transition: all 0.2s linear;
  }
  
  .service-box:hover,
  .service-box:active {
    transform: translateY(-3rem);
  }
  
  .service-icon {
    width: 5rem;
    height: 5rem;
    background-color: var(--icons-bg);
    display: inline-block;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    padding: 3rem 1rem;
    position: relative;
    color: var(--heading);
    animation: water-wave 3s linear infinite;
    background-color: aquamarine
  }
  
  .service-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    background: transparent;
    border: 1px solid var(--black);
    animation: water-wave 3s linear infinite;
  }
  
  @keyframes water-wave {
    0% {
      border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
    50% {
      border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    }
    100% {
      border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
  }
  
  .rrs {
    text-transform: capitalize;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  



@media (max-width:850px) {
    img {
        border-radius: 8px;
        width: 10%;
        padding-right: 10px;
    }
    #me svg{
        display: block;
    }

    #nav-part2 #links a{
        /* text-transform: uppercase; */
        text-decoration: none;
        color: #333;
        font-weight: 100;
        font-size: 14px;
        margin: 0 10px;
        gap: 5px;
    }
    .search-box input{
        width:100%;
        height: 30px;
        border: none;
        outline: none;
        background:#f2f2f2;
        border-radius: 20px;
        color:#333;
        font-size: 16px;
        padding-left: 5px;
        padding-right: 40px;
        text-align: center;  
    }

    .search-box button{
        cursor: pointer;
        width:40px;
        height: 30px;
        border-radius: 20px;
        border:none;
        position: absolute;
        top:0;
        right: 0;
        transform: scale(0.9);
        background: rgb(69, 211, 239);
        color: #fff;
    }

    #st svg{
        width: 40px;
        padding-top: 10px;
        background-color: #f7f7f7;
    }
    #me svg{
        width: 40px;
        /* padding-top: 10px; */
        z-index: 10001;
        display: none;
    }
    #nav #nav-part2 {
        gap: 15px;
    }
    
}

@media (max-width:600px) {
    img {
        border-radius: 8px;
        width: 10%;
        padding-right: 10px;
    }
    #me svg{
        /* height: 50px; */
        width: 50px;
        display: block;
    }

   
    #nav-part2 #links{
        display: none;
    }
    
}

@media (max-width:395px) {
    #nav{
        padding-left: 2vw;
        padding-right: 2vw;
    }
    img {
        border-radius: 8px;
        width: 15%;
    }

    #me svg{
        /* height: 50px; */
        width: 50px;
        display: block;
    }

    .search-box input{
        width:115%;
        height: 30px;
        border: none;
        outline: none;
        background:#f2f2f2;
        border-radius: 15px;
        color:#333;
        font-size: 10px;
        padding-left: 5px;
        padding-right: 8px;
        text-align: center;  
    }

    .search-box button{
        cursor: pointer;
        width:30px;
        height: 30px;
        border-radius: 20px;
    }

    #st svg{
        /* height: 50px; */
        width: 50px;
        /* padding-top: 10px; */
        background-color: #f7f7f7;
    }

    #page1{
        padding-top: 10vh;
    }


}